HEAD
pandas==2.1.4
numpy==1.26.2
matplotlib==3.8.2
seaborn==0.13.0
scikit-learn==1.3.2
flask==3.0.0
streamlit==1.29.0
requests==2.31.0
pandas
numpy
matplotlib
seaborn
scikit-learn
flask
streamlit
requests
236158a3bf0f3c670d472218435db73ad38dbeee
